{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Photo</th>

            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.despcripion }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.photo }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('categorie_show', {'id': categorie.id}) }}">show</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('produit_new') }}">Create new</a>
    {% endif %}

{% endblock %}